<!DOCTYPE html>
<!-- 网页使用的语言 -->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 指定字符集 -->
    <meta charset="utf-8">
    <!-- 使用Edge最新的浏览器的渲染方式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport视口：网页可以根据设置的宽度自动进行适配，在浏览器的内部虚拟一个容器，容器的宽度与设备的宽度相同。
    width: 默认宽度与设备的宽度相同
    initial-scale: 初始的缩放比，为1:1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>添加用户</title>

    <!-- 1. 导入CSS的全局样式 -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- 2. jQuery导入，建议使用1.9以上的版本 -->
    <script th:src="@{/js/jquery-2.1.0.min.js}"></script>
    <!-- 3. 导入bootstrap的js文件 -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h3 style="text-align: center">添加页面</h3>
    <form th:action="@{/emp/toList}" method="post">
        <div class="form-group">
            <label >姓名：</label>
            <input type="text" class="form-control" name="emName" placeholder="请输入姓名">
        </div>
        <div class="form-group">
            <label>性别：</label>
            <input type="radio" name="gender" value="1" checked="checked"/>男
            <input type="radio" name="gender" value="0"/>女
        </div>

        <div class="form-group">
            <label for="department">部门：</label>
            <select name="department.id" class="form-control" id="department">
                <option th:each="dept:${departments}" th:text="${dept.name}" th:value="${dept.id}">...</option>

            </select>
        </div>
        <div class="form-group">
            <label >姓名：</label>
            <input type="text" class="form-control" name="birth" placeholder="请输入年龄">
        </div>


        <div class="form-group" style="text-align: center">
            <input class="btn btn-primary" type="submit" value="提交" />
            <input class="btn btn-default" type="reset" value="重置" />
            <input class="btn btn-default" type="button" value="返回" />
        </div>
    </form>
</div>
</body>
</html>