<!DOCTYPE html>
<!-- 网页使用的语言 -->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 指定字符集 -->
    <meta charset="utf-8">
    <!-- 使用Edge最新的浏览器的渲染方式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport视口：网页可以根据设置的宽度自动进行适配，在浏览器的内部虚拟一个容器，容器的宽度与设备的宽度相同。
    width: 默认宽度与设备的宽度相同
    initial-scale: 初始的缩放比，为1:1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>信息展示</title>

    <!-- 1. 导入CSS的全局样式 -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- 2. jQuery导入，建议使用1.9以上的版本 -->
    <script th:src="@{/js/jquery-2.1.0.min.js}"></script>
    <!-- 3. 导入bootstrap的js文件 -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <style type="text/css">
        td, th {
            text-align: center;
        }
    </style>




</head>
<body>

<div class="container">
    <h3 style="text-align: center">[[${session.loginUser}]]用户信息列表</h3>
    <div style="float: right;margin: 5px;">

        <a class="btn btn-primary" th:href="@{/emp/addEmp}">添加联系人</a>

    </div>

    <form id="form" action="${pageContext.request.contextPath}/delSelectedServlet" method="post">
        <table border="1" class="table table-bordered table-hover">

                <tr class="success">
                    <th>编号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>部门</th>
                    <th>生日</th>
                    <th>操作</th>
                 </tr>

                <tr th:each="emp:${emps}">
                    <td th:text="${emp.id}"></td>
                    <td th:text="${emp.emName}"></td>
                    <td th:text="${emp.gender}"></td>
                    <td th:text="${emp.department.name}"></td>
                    <td th:text="${#dates.format(emp.birth,'yyyy-MM-dd HH:mm:ss')}"></td>

                    <td>
                        <a class="btn btn-default btn-sm" href="${pageContext.request.contextPath}/findUserServlet?id=${user.id}">修改</a>&nbsp;
                        <a class="btn btn-default btn-sm" href="javascript:deleteUser(${user.id});">删除</a>
                    </td>
                </tr>


        </table>
    </form>
</div>

</body>
</html>
