<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>登录</title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <!-- 1. 导入CSS的全局样式 -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- 2. jQuery导入，建议使用1.9以上的版本 -->
    <script th:src="@{/js/jquery-2.1.0.min.js}"></script>
    <!-- 3. 导入bootstrap的js文件 -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container" style="width: 400px;">
    <h3 style="text-align: center;" th:text="#{login.tip}">登录</h3>
    <form th:action="@{/user/login}" method="post">

        <div class="form-group">
            <label for="user" th:text="#{login.userName}">用户名：</label>
            <input type="text" name="username" class="form-control" id="user" th:placeholder="请输入+#{login.userName}"/>
        </div>

        <div class="form-group">
            <label for="password" th:text="#{login.password}">密码：</label>
            <input type="password" name="password" class="form-control" id="password" th:placeholder="请输入+#{login.password}"/>
        </div>

        <div class="form-inline">
            <label for="vcode" th:text="#{login.checkCode}">验证码：</label>
            <input type="text" name="verifycode" class="form-control" id="verifycode" th:placeholder="#{login.checkCode}" style="width: 120px;"/>
            <a >
                <img th:width="130px" th:height="40px" th:src="@{/img/cheackcode.png}" title="看不清点击刷新" id="vcode"/>
            </a>
        </div>
        <hr/>
        <div class="form-group" style="text-align: center;">
            <input class="btn btn btn-primary"  type="submit" th:value="#{login.butn}" >
        </div>
        <div class="form-group" style="text-align: center;">
            <a class="btn btn-sm" th:href="@{/login.html(l='zh_CN')}">中文</a>
            <a class="btn btn-sm" th:href="@{/login.html(l='en_US')}">English</a>
        </div>
    </form>



</div>
</body>
</html>